bin/
obj/
[Bb]uild/
[Ll]ogs/
*.log

*.user
*.userosscache
*.suo
*.sln.docstates

.idea/

.vscode/

*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

wwwroot/

project.assets.json
project.nuget.cache
*.dbmdl
*.bak
*.pidb
*.svclog

TestResults/
*.coverage
*.coveragexml
*.testsettings
*.vsmdi
*.psess
*.vsp
*.vspx

*.publish.xml
*.azurePubxml
*.Publish.xml

*.cache
*.pdb
*.mdb
*.opendb
*.VC.db

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
$RECYCLE.BIN/

*.bak
*.tmp
*.temp
~$*
